# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# backups (no versionar copias de la BD)
backups/

# databases (SQLite)
*.db

# misc
.DS_Store
*.pem
*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# caches
.eslintcache
.turbo
.cache

# IDE / editors
.idea/
.vscode/

# OS (Windows)
Thumbs.db
ehthumbs.db
Desktop.ini

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma

/website/node_modules
/website/build
/website/.docusaurus
/website/.docusaurus.cache
/website/.docusaurus.lock
